OPENAI_API_KEY='sk-564564564564564564564'

MONGODB_URI='mongodb+srv://user:password@example.123456.mongodb.net/?retryWrites=true&w=majority'
MONGODB_DATABASE=eleganteflor
MONGODB_COLLECTION=ps_flowers
MONGODB_VECTORS=embedded_flowers_768
MONGODB_VECTOR_INDEX=embedded_flowers_index_768